<div class="wrapper" style="display:block; margin:auto; width:40%;">
<h1>Hello <%= @user.username %></h1>
<p>
	Ceci est ta page secrète </br>
	avec la solution à l'univers.
    modeetestttt
</p>
<%= link_to "modifier profil", edit_user_path %>
